[submodule "themes/hugo-uilite"]
	path = themes/hugo-uilite
	url = https://github.com/uicardiodev/hugo-uilite

[submodule "public"]
	path = public
	url = https://github.com/zaracooper/zaracooper.github.io
