{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>
  <div class="row">

    {{ range $index, $element := $skills.skills }}
    <div class="col-12 col-lg-4 col-md-4 mb-3">
      <div class="card border-dark h-100" style="max-width: 18rem;">
        <div class="card-header bg-white">
          <h5 class="card-title">{{ $element.title }}</h5>
        </div>

        <ul class="list-group list-group-flush">
          {{ range $key, $value := $element.stack }}
          <li class="list-group-item p-1">
              {{ if $value.icon }}
                    <i class="ml-3 mr-1 {{ $value.icon }}"></i>
              {{ else }}
                  <img class="ml-3 skillsicon mr-1" src="{{ $value.image }}"/>
              {{ end }}
              {{ $value.tech }}
          </li>
            {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}

    

  </div>
</section>